@model GlamourHub.Models.User

@{
    ViewData["Title"] = "Delete User";
}
@await Html.PartialAsync("_AdminNavbar")

<h2 class="py-2">Confirm Delete</h2>

<div class="alert alert-danger">
    <p>Are you sure you want to delete the user "<strong>@Model.Username</strong>"?</p>
</div>

<div>
    <h4>Check Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">First Name</dt>
        <dd class="col-sm-10">@Model.Firstname</dd>

        <dt class="col-sm-2">Last Name</dt>
        <dd class="col-sm-10">@Model.Lastname</dd>

        <dt class="col-sm-2">Username</dt>
        <dd class="col-sm-10">@Model.Username</dd>

        <dt class="col-sm-2">Role</dt>
        <dd class="col-sm-10">@Model.Role</dd>
    </dl>

    @using (Html.BeginForm("ConfirmDeleteUser", "Admin", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Id)
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="UserList" class="btn btn-secondary">Cancel</a>
    }
</div>



