@model GlamourHub.Models.User

@{
    ViewData["Title"] = "Edit User";
}
@await Html.PartialAsync("_AdminNavbar")

<h2>Edit User</h2>

@using (Html.BeginForm("EditUser", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        <label for="email">Email</label>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = "readonly" })
    </div>

    <div class="form-group">
        <label for="firstname">First Name</label>
        @Html.TextBoxFor(model => model.Firstname, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="lastname">Last Name</label>
        @Html.TextBoxFor(model => model.Lastname, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="username">Username</label>
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
    </div>
    <div class="form-group mb-2">
        <label asp-for="Role">Role</label>
        <select asp-for="Role" asp-items='new List<SelectListItem>
                {
                new SelectListItem { Text = "-- Select Role --", Value = "" },
                    new SelectListItem { Text = "Customer", Value = "Customer" },
                    new SelectListItem { Text = "Seller", Value = "Seller" }
                }' class="form-control"></select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    @Html.HiddenFor(model => model.Password)

    <button type="submit" class="btn btn-primary">Update</button>

    <a asp-action="UserList" class="btn btn-primary">Cancel</a>
}
