@model IEnumerable<GlamourHub.Models.User>

@{
    ViewData["Title"] = "Users";
}
@await Html.PartialAsync("_AdminNavbar")
<div class="row py-3">
    <div class="col-md-6">
        <h2>Users</h2>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary mb-3 float-end" asp-area="" asp-controller="Admin" asp-action="AddUser">Add New User</a>
    </div>
</div>


<table class="table table-striped">
    <thead class="card-header">
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Firstname</td>
                <td>@user.Lastname</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>@user.CreatedAt</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-area="" asp-controller="Admin" asp-action="EditUser" asp-route-id="@user.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-area="" asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>